<div
  class="products-container-div"
  *ngIf="! isReviewView"
>
    <div
      class="products-inner-div"
      *ngFor="let product of products"
    >
        <br>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title> {{'Product #' + product.id}} </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button
                  *ngIf="isCustomer()"
                  (click)="switchToReviewView(product)"
                >
                Submit a Review
                </button>
                <button mat-button
                  *ngIf="isAdmin()"
                  (click)="switchToReviewView(product)"
                >
                View Product Reviews
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<div
  *ngIf="isReviewView"
>
    <app-product-review
      *ngIf="isCustomer()"
    ></app-product-review>

    <app-product-statistics
      *ngIf="isAdmin()"
    ></app-product-statistics>

    <button mat-button
      (click)="backToProductsList()"
    >
    Back to Products
    </button>
</div>

<app-product-histogram
  *ngIf="isAdmin() && ! isReviewView"
  [title]="'Products Average Ratings'"
  [xAxisLabel]="'Product'"
  [yAxisLabel]="'Average Rating'"
  [data]="getProductsAverageRatings()"
  [labels]="getProductsDisplayNames()"
></app-product-histogram>
