.comment-form {
  min-width: 150px;
  max-width: 650px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.products-container-div {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.form-div {
  margin: 20px;
}

button {
  margin: 10px;
}

.small-card {
  margin: 5px;
  margin-bottom: 15px;
}

.warning {
  background-color: rgb(245, 229, 167);
}
