<div
  class="products-container-div"
>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Product Info</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content>
      <p>{{'Product ID: ' + getCurrentProductId()}}</p>
      <p>{{'Product Name: ' + getCurrentProductName()}}</p>
      <p>{{'Product Description: ' + getCurrentProductDescription()}}</p>
    </mat-card-content>
  </mat-card>

  <div
    class="form-div"
  >
    <mat-card appearance="outlined"
      class="small-card"
      *ngIf="isShowRatingScore"
      >
      <mat-card-content>{{'Rating Score: ' + ratingScore}}</mat-card-content>
    </mat-card>

    <mat-card appearance="outlined"
      class="small-card warning"
      *ngIf="! isClassifierLoaded"
      >
      <mat-card-content>Classifier is loading ... Please wait</mat-card-content>
    </mat-card>

    <div
      *ngFor="let c of commentsList; let i = index"
    >
      <mat-form-field 
        class="full-width"
        >
        <mat-label>{{ c.question }}</mat-label>
        <textarea matInput name="comment" [(ngModel)]="c.answer"></textarea>
      </mat-form-field>
    </div>

    <button mat-raised-button
      *ngIf="isClassifierReady && isClassifierLoaded"
      (click)="onSubmitClick()"
    >
    Submit
    </button>

    <button mat-raised-button
      [disabled]="true"
      *ngIf="! isClassifierLoaded"
    >
    Submit
    </button>

    <button mat-raised-button
      [disabled]="true"
      *ngIf="! isClassifierReady && isClassifierLoaded"
    >
    Submitting ...
    </button>

    <button mat-raised-button
      (click)="populateAnswers()"
    >
    Populate Answers
    </button>

    <button mat-raised-button
      (click)="clearFields()"
    >
    Clear
    </button>
  </div>
</div>